.info-container {
  width: 980px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  padding: 40px;
}

@media (max-width: 959px) {
  .info-container {
    width: 100%;
    margin-top: 0;
    padding: 70px;
    padding-top: 0;
  }
}
